body
{
	font-size: 62.5%;
	text-align: center;
}

h2
{
	color: red;
}

#header
{
	color: black;
	height: 20%;
}

#footer
{
	color: white;
	background-color: black;
	height: 20%;
}

.example-class
{
	font-size: 110%;
}

#example-id
{
	position: absolute;
}

#calendar
{
	margin-left: 100px;
	margin-right: 100px;
}
