body
{
	font-size: 62.5%;
	/*text-align: center;*/
}

#header table
{
	color: black;
	vertical-align: middle;	
}

#header table td
{
	height: 20%;
	min-height: 200px;
	font-size: 3em;
	width: 100%;
}

#header .titlebar, #header .titlebar button
{
	color: white;
	background-color: black;
	height: 50px;
}

.titlebar-drop
{
	float: left;
}

#footer table
{
	height: 20%;
	min-height: 200px;
	font-size: 3em;
}

#calendar 
{
	z-index: 0;
	border-color: #fff;
}

#calendar h2
{
	text-align: center;
}

#calendar .fc-day-number
{
	font-size: 4em;
	text-align: center;
}

#calendar .fc-title
{
	font-size: 120%;
}

#events-core p, #events-core h1, #events-core h3
{
	margin-left: 6.25%;
}

.largebutton
{
	width: 50%;
	height: 100%;
}

.eventbutton
{
	width: 25%;
}

.largebutton, .eventbutton
{
	min-height: 150px;
	/*border: none;*/
}

.buttonpic
{
	min-width: 50px;
	min-height: 50px;
	padding-bottom: 20px;
}

.blue
{
	background-color: #6cc5ef;
}

.yellow
{
	background-color: #ffcb31;
}

.green
{
	background-color: #66d822;
}

.red
{
	background-color: #efbcbc;
}

.dropdownmenu
{
	display: none;
	position: absolute;
	vertical-align: top;
	left: 2px;
	top: 65px;
	width: 300px;
	height: 100%;
	background-color: black;
	opacity: 0.95;
	color: white;
	z-index: 2;
	
}

.dropdownitem
{
	font-size: 2em;
	color: white;
	background-color: #0A0A0A;
	width: 300px;
	text-align: left;	
}

.dropdownitem.indent
{
	margin-left: 3%;
}
