body
{
	font-size: 62.5%;
	/*text-align: center;*/
	font-family: Verdana, Geneva, sans-serif;
}

#header table
{
	color: black;
	vertical-align: middle;	
}

#header table td
{
	height: 20%;
	min-height: 200px;
	font-size: 3em;
	width: 100%;
}

#header .titlebar, #header .titlebar button
{
	color: white;
	background-color: black;
	height: 50px;
}

.titlebar-drop
{
	float: left; border: none;
}

.alarm
{
	float: right; border: none;
}

#footer table
{
	height: 20%;
	min-height: 200px;
	font-size: 3em;
}

#calendar 
{
	z-index: 0;
	border-color: #fff;
}

#calendar h2
{
	text-align: center;
}

#calendar .fc-day-number
{
	font-size: 4em;
	text-align: center;
}

#calendar .fc-title
{
	font-size: 120%;
}

#events-core p, #events-core h1, #events-core h3
{
	margin-left: 6.25%;
}

#friends-core p, #friends-core h1, #friends-core h3
{
	background-color: white;	
}

#friends-core
{
	background-color: gray;
	text-align: center;
}

#friends-core .friend-cont
{
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: white;
	min-height: 10%;
}

#friends-core table
{
	margin-left: 35%;
	margin-right: 35%;
}

#friends-core button
{
	min-height: 60px;
}

.profile-cont
{
	margin-left: 8%;
}

.largebutton
{
	width: 50%;
	height: 100%;
}

.medbutton
{
	width: 33.33%;
	height: 100%;
}

.eventbutton
{
	width: 25%;
}

.largebutton, .eventbutton
{
	min-height: 150px;
	/*border: none;*/
}

.buttonpic
{
	min-width: 50px;
	min-height: 50px;
	padding-bottom: 20px;
}

.smallpic
{
	max-width: 50px;
	max-height: 50px;
}

.blue
{
	background-color: #6cc5ef;
}

.yellow
{
	background-color: #ffcb31;
}

.green
{
	background-color: #66d822;
}

.red
{
	background-color: #efbcbc;
}

.dropdownmenu, .notification-menu
{
	display: none;
	position: absolute;
	vertical-align: top;
	top: 50px;
	width: 300px;
	height: 100%;
	background-color: gray;
	opacity: 0.95;
	color: white;
	z-index: 2;
}

.dropdownitem
{
	font-size: 2em;
	color: white;
	width: 300px;
	text-align: left;	
}

.dropdownitem.indent
{
	margin-left: 10%;
}

.notification-menu
{
	right: 0px;
}

.note-item
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: black;
}

.note-item label, .note-item p
{
	font-size: 140%;
}

.note-item p
{
	color: gray;
}

